body {
    width: 900px;
    margin: 0px auto;
}
.menu-bar {
    width: 900px;
    position: fixed;
    top: 0;
    height: 75px;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    background-color: #000;
    font-size: 2em;
}
.menu-bar a:link, a:visited {
    color: #FFF;
    text-decoration: none;
}
.menu-bar a:hover, a:active {
    background-color: #FD0;
    color: #000;
    text-decoration: none;
}
.the_whole {
    width: 900px;
}
#bio {
    width: 900px;
    height: 500px;
    display: grid;
    grid-template-columns: 40% 60%;
    flex: 1;
    top: 75px;
    margin-top: 75px;
}
/*
#bio img {
    max-width: 400px;
}
*/
.left_header {
    font-family: 'Abril Fatface';
    font-weight: 0;
    background-image: url('http://stayathome-syllabus.greenfox.academy/week01/assets/first-website-header.png');
    background-size: cover;
    background-position: center;
}
.name {
    font-size: 2em;
}
#bio h1 {
    position: absolute;
    top: 300px;
    margin-left: 70px;
}
.right_header {
    padding: 20px;
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: lighter;
    font-family: 'Josefin Sans';
}
.right_header ul li {
    list-style-type: square;
}
main {
    font-family: 'Josefin Sans';
    width: 900px;
    margin-top: 75px;
    padding: 0;
    display: grid;
    grid-template-columns: 40% 60%;
}
/* http://stayathome-syllabus.greenfox.academy/week01/assets/first-website-header.png */
/* another comment */
.left {
    font-family: 'Abril Fatface';
    font-weight: 0;
    display: block;
}
.right {
    display: block;
    margin: 20px;
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: lighter;
    font-family: 'Josefin Sans';
}
blockquote::before {
  content: '”';
  /* then the styling */
  font-family: 'Abril Fatface';
}